.container {
  text-align: center;
  font-family: 'Roboto', arial, sans-serif;
}

.header {
  margin-bottom: 50px;
}

.page-header {
  text-decoration: underline;
  margin-bottom: 30px;
}

.hidden-box {
  opacity: 0;
}

.boxes {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  border-width: 5px;
  cursor: pointer;
}

.change-btn {
  color: #22c55e;
  font-size: 18px;
}

.hide-btn {
  color: #dc2626;
  margin: 30px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 170px;
  height: 30px;
  line-height: 30px;
  background-color: #d1d5db;
  cursor: pointer;
}

.final-btns {
  margin-top: 40px;
}
